{% extends 'base.html' %}{% load static %}{% block head %}<title>
  JobPortal - Access Denied</title
><link rel="stylesheet" href="{% static 'css/cant-access.css' %}" />{% endblock
%}{% block content %}
<section id="cant-access">
  <div id="cant-access-box" class="access-box">
    <div class="access-icon"><i class="fa-solid fa-lock"></i></div>
    <h1>Access restricted</h1>
    <p>
      You don't have permission to access this page with your current account.
    </p>
    <div class="access-actions">
      <button id="dashboard-btn" class="btn" onclick="location.href = '/'">
        Go Home</button
      ><button
        id="logout-btn"
        class="btn secondary"
        onclick="location.href = '/logout'"
      >
        Logout
      </button>
    </div>
  </div>
</section>
{% endblock %}
