{% extends 'base.html' %} {% load static %} {% block head %}
<title>JobPortal - Forgot Password</title>
<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}" />
{% endblock %} {% block content %}
<div class="forgot-container">
  <div class="forgot-box">
    <div class="forgot-icon">
      <i class="fa-solid fa-lock"></i>
    </div>
    <div class="forgot-header">
      <h1>Forgot your password?</h1>
      <p>
        Enter the email address associated with your account and we'll help you
        reset your password.
      </p>
    </div>
    <form method="POST">
      {% csrf_token %} {% if messages %}
      <div class="alert-message">
        {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      <div class="input-box">
        <label for="email">Email Address</label>
        <div class="input-wrapper">
          <i class="fa-regular fa-envelope"></i>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Enter your email address"
            required
          />
        </div>
      </div>
      <button class="forgot-btn" type="submit">
        <span>Send Reset Link</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </form>
    <a href="/login" class="back-login">
      <i class="fa-solid fa-arrow-left"></i>
      Back to Sign In
    </a>
  </div>
</div>
{% endblock %}
