{% extends 'base.html' %} {% load static %} {% block content %}
<title>JobPortal - Home</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<div id="hero-section">
  <div id="left-content">
    <h1>Find jobs more to grow your career</h1>
    <p>
      Explore thousands of job opportunities with all the information you need.
      It's your future. Come find it. Manage all your job application from start
      to finish.
    </p>
    <button id="get-started-btn">Get Started</button>
  </div>
  <div id="right-content">
    <img src="{% static 'img/man-with-laptop.png' %}" alt="Home Image" />
  </div>
</div>

<div id="post-job">
  <h2>Post your job for millions of people to see</h2>
  <button id="post-job-btn">Post a Job</button>
</div>

<div id="find-jobs">
  <div id="fj-left-sec">
    <h2>Find the right job or internship for you</h2>
  </div>
  <div id="fj-right-sec">
    {% for category in categories %}
    <button class="job-btn" onclick="window.location.href='/jobs/?category={{ category.name|urlencode }}'">{{category.name}}</button>
    {% endfor %}
    <button class="show-more-btn" onclick="window.location.href='/jobs/'">Show more <i class="fa-solid fa-chevron-down"></i>
    </button>
  </div>
</div>

{% endblock %}