{% extends 'base.html' %} {% load static %} {% block head %}
<title>JobPortal - Reset Password</title>
<link rel="stylesheet" href="{% static 'css/reset-password.css' %}" />
{% endblock %} {% block content %}
<div class="reset-container">
  <div class="reset-box">
    <div class="reset-icon">
      <i class="fa-solid fa-key"></i>
    </div>
    <div class="reset-header">
      <h1>Create a new password</h1>
      <p>Choose a strong password that you haven't used before.</p>
    </div>
    <form method="POST">
      {% csrf_token %} {% if form.errors %}
      <div class="alert-message">{{ form.errors }}</div>
      {% endif %}
      <div class="input-box">
        <label for="id_new_password1">New Password</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-lock"></i>
          <input
            id="id_new_password1"
            type="password"
            name="new_password1"
            placeholder="Enter your new password"
            required
          />
        </div>
      </div>
      <div class="input-box">
        <label for="id_new_password2">Confirm Password</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-shield-halved"></i>
          <input
            id="id_new_password2"
            type="password"
            name="new_password2"
            placeholder="Confirm your new password"
            required
          />
        </div>
      </div>
      <button class="reset-btn" type="submit">
        <span>Reset Password</span>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </form>
    <a href="/login/" class="back-login">
      <i class="fa-solid fa-arrow-left"></i>
      Back to Sign In
    </a>
  </div>
</div>
{% endblock %}
